// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

// Make headers smaller /
h1, .h1 { font-size: 1.5rem; }
h2, .h2 { font-size: 1.5rem; }
h3, .h3 { font-size: 1.2rem; }

/* Adjust hero (welcome) section font sizes */

.hero-title {
  font-size: 2.2rem;   /* default is ~3rem; adjust as needed */
  font-weight:700;
  line-height: 1.1;
}

.hero-subtitle, .hero-lead {
  font-size: 1.0rem;   /* default is ~1.6rem */
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  color: #006CA5;  /* ocean blue hex */
}

/* Force smaller font size for news titles on homepage */
.section-subheading.article-title {
  font-size: 1.0rem !important;
   font-weight: 100;
  line-height: 1.3;
}

/* Smaller text inside tables */
table, th, td {
  font-size: 0.7rem;   /* default body text is usually 1rem or 1.1rem */
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}

table ul,
table ol {
  margin-left: 0.5em;   /* default is often ~2em */
  padding-left: 0;      /* optional: remove extra padding */
  margin-bottom: 0;      /* optional: remove extra padding */
  font-size: 0.7rem;    /* keep in sync with your smaller table text */
  line-height: 1.2;
}


